src/main/java/apiril20/sym_ft_transfer_cc_out.xsd

<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema' 
     xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' 
     xmlns:xdb='http://xmlns.oracle.com/xdb'>
<xsd:complexType name='SA_HEADER_OUTType'>                                       
        <xsd:sequence>                                                           
                <xsd:element name='CORR_ID' minOccurs='0'>                                     
                        <xsd:simpleType>                                         
                                <xsd:restriction base='xsd:string'>              
                                        <xsd:maxLength value='128'/>             
                                </xsd:restriction>                               
                        </xsd:simpleType>                                        
                </xsd:element>                                                   
                <xsd:element name='USER_NAME'>                                   
                        <xsd:simpleType>                                         
                                <xsd:restriction base='xsd:string'>              
                                        <xsd:maxLength value='50'/>              
                                </xsd:restriction>                               
                        </xsd:simpleType>                                        
                </xsd:element>                                                   
                <xsd:element name='APPLICATION'>                                 
                        <xsd:simpleType>                                         
                                <xsd:restriction base='xsd:string'>              
                                        <xsd:maxLength value='50'/>              
                                </xsd:restriction>                               
                        </xsd:simpleType>                                        
                </xsd:element>                                                   
                <xsd:element name='MSG_ID' minOccurs='0'>                                      
                        <xsd:simpleType>                                         
                                <xsd:restriction base='xsd:string'>              
                                        <xsd:maxLength value='128'/>             
                                </xsd:restriction>                               
                        </xsd:simpleType>                                        
                </xsd:element>                                                   
                <xsd:element name='RESULT_CODE' type='xsd:double'/>              
                <xsd:element name='STATUS_CODE' type='xsd:double'/>              
                <xsd:element name='ERRORS' type='SA_ERRORSType' minOccurs='0'/>  
        </xsd:sequence>                                                          
</xsd:complexType>                                                               
<xsd:element name='SYM_FT_TRANSFER_CC_OUT'  type='SYM_FT_TRANSFER_CC_OUTType'/>
<xsd:complexType name='SYM_FT_TRANSFER_CC_OUTType'>
<xsd:sequence>
<xsd:element name='HEADER_OUT' type='SA_HEADER_OUTType'/>
<xsd:element name='REF_NO'  minOccurs='0'>
<xsd:simpleType>                             
        <xsd:restriction base='xsd:string'>  
                <xsd:maxLength value='13'/> 
        </xsd:restriction>                   
</xsd:simpleType>                            
</xsd:element>
<xsd:element name='TRAN_TYPE'  minOccurs='0'>
<xsd:simpleType>                             
        <xsd:restriction base='xsd:string'>  
                <xsd:maxLength value='4'/> 
        </xsd:restriction>                   
</xsd:simpleType>                            
</xsd:element>
<xsd:element name='TRAN_DESC'  minOccurs='0'>
<xsd:simpleType>                             
        <xsd:restriction base='xsd:string'>  
                <xsd:maxLength value='80'/> 
        </xsd:restriction>                   
</xsd:simpleType>                            
</xsd:element>
<xsd:element name='DATE_UPDATE'  minOccurs='0' >
<xsd:simpleType>                             
        <xsd:restriction base='xsd:string'>  
                <xsd:maxLength value='19'/> 
        </xsd:restriction>                   
</xsd:simpleType>                            
</xsd:element>
<xsd:element name='SPOT_RATE'  type='xsd:double' minOccurs='0' />
<xsd:element name='TRAN_STATUS'  minOccurs='0'>
<xsd:simpleType>                             
        <xsd:restriction base='xsd:string'>  
                <xsd:maxLength value='3'/> 
        </xsd:restriction>                   
</xsd:simpleType>                            
</xsd:element>
<xsd:element name='DR_VALUE_DATE'  minOccurs='0' >
<xsd:simpleType>                             
        <xsd:restriction base='xsd:string'>  
                <xsd:maxLength value='19'/> 
        </xsd:restriction>                   
</xsd:simpleType>                            
</xsd:element>
<xsd:element name='DR_AMOUNT'  type='xsd:double' minOccurs='0' />
<xsd:element name='DR_CCY'  minOccurs='0'>
<xsd:simpleType>                             
        <xsd:restriction base='xsd:string'>  
                <xsd:maxLength value='3'/> 
        </xsd:restriction>                   
</xsd:simpleType>                            
</xsd:element>
<xsd:element name='DR_AVAIL_BAL'  type='xsd:double' minOccurs='0' />
<xsd:element name='DR_LEDGER_BAL'  type='xsd:double' minOccurs='0' />
<xsd:element name='CR_AMOUNT'  type='xsd:double' minOccurs='0' />
<xsd:element name='CR_CCY'  minOccurs='0'>
<xsd:simpleType>                             
        <xsd:restriction base='xsd:string'>  
                <xsd:maxLength value='3'/> 
        </xsd:restriction>                   
</xsd:simpleType>                            
</xsd:element>
<xsd:element name='CR_AVAIL_BAL'  type='xsd:double' minOccurs='0' />
<xsd:element name='CR_LEDGER_BAL'  type='xsd:double' minOccurs='0' />
<xsd:element name='DR_TOTAL_AMOUNT'  type='xsd:double' minOccurs='0' />
<xsd:element name='CR_TOTAL_AMOUNT'  type='xsd:double' minOccurs='0' />
<xsd:element name='ERROR_CODE'  type='xsd:double' minOccurs='0' />
<xsd:element name='ERROR_MSG'  minOccurs='0'>
<xsd:simpleType>                             
        <xsd:restriction base='xsd:string'>  
                <xsd:maxLength value='2000'/> 
        </xsd:restriction>                   
</xsd:simpleType>                            
</xsd:element>
</xsd:sequence>
</xsd:complexType> 
<xsd:complexType name='SA_ERRORSType'>                                                                   
        <xsd:sequence>                                                                                   
                <xsd:element name='ERRORS' type='SA_ERRLISTType' minOccurs='0'/>                         
                <xsd:element name='BUGS' type='SA_BUGLISTType' minOccurs='0'/>                           
        </xsd:sequence>                                                                                  
</xsd:complexType>                                                                                       
<xsd:complexType name='SA_ERRLISTType'>                                                                  
        <xsd:sequence>                                                                                   
                <xsd:element name='SA_ERR' type='SA_ERRType' minOccurs='0' maxOccurs='unbounded'/>       
        </xsd:sequence>                                                                                  
</xsd:complexType>                                                                                       
<xsd:complexType name='SA_BUGLISTType'>                                                                  
        <xsd:sequence>                                                                                   
                <xsd:element name='SA_BUG' type='SA_BUGType' minOccurs='0' maxOccurs='unbounded'/>       
        </xsd:sequence>                                                                                  
</xsd:complexType>                                                                                       
<xsd:complexType name='SA_ERRType'>                                                                      
        <xsd:sequence>                                                                                   
                <xsd:element name='ERROR_NO' type='xsd:double' minOccurs='0'/>                           
                <xsd:element name='ERROR_MSG' minOccurs='0'>                                             
                        <xsd:simpleType>                                                                 
                                <xsd:restriction base='xsd:string'>                                      
                                        <xsd:maxLength value='4000'/>                                    
                                </xsd:restriction>                                                       
                        </xsd:simpleType>                                                                
                </xsd:element>                                                                           
                <xsd:element name='SEVERITY' minOccurs='0'>                                              
                        <xsd:simpleType>                                                                 
                                <xsd:restriction base='xsd:string'>                                      
                                        <xsd:maxLength value='1'/>                                       
                                </xsd:restriction>                                                       
                        </xsd:simpleType>                                                                
                </xsd:element>                                                                           
                <xsd:element name='ATTR_NAME' minOccurs='0'>                                             
                        <xsd:simpleType>                                                                 
                                <xsd:restriction base='xsd:string'>                                      
                                        <xsd:maxLength value='100'/>                                     
                                </xsd:restriction>                                                       
                        </xsd:simpleType>                                                                
                </xsd:element>                                                                           
                <xsd:element name='POSITION_NO' type='xsd:double' minOccurs='0'/>                        
        </xsd:sequence>                                                                                  
</xsd:complexType>                                                                                       
<xsd:complexType name='SA_BUGType'>                                                                      
        <xsd:sequence>                                                                                   
                <xsd:element name='ERROR_NO' type='xsd:double' minOccurs='1'/>                           
                <xsd:element name='ERROR_MSG' minOccurs='1'>                                             
                        <xsd:simpleType>                                                                 
                                <xsd:restriction base='xsd:string'>                                      
                                        <xsd:maxLength value='4000'/>                                    
                                </xsd:restriction>                                                       
                        </xsd:simpleType>                                                                
                </xsd:element>                                                                           
                <xsd:element name='ERROR_DATE' minOccurs='0'>                                            
                        <xsd:simpleType>                                                                 
                                <xsd:restriction base='xsd:string'>                                      
                                        <xsd:maxLength value='25'/>                                      
                                </xsd:restriction>                                                       
                        </xsd:simpleType>                                                                
                </xsd:element>                                                                           
                <xsd:element name='PROCESS_NAME' minOccurs='0'>                                          
                        <xsd:simpleType>                                                                 
                                <xsd:restriction base='xsd:string'>                                      
                                        <xsd:maxLength value='100'/>                                     
                                </xsd:restriction>                                                       
                        </xsd:simpleType>                                                                
                </xsd:element>                                                                           
                <xsd:element name='OSUSER' minOccurs='0'>                                                
                        <xsd:simpleType>                                                                 
                                <xsd:restriction base='xsd:string'>                                      
                                        <xsd:maxLength value='30'/>                                      
                                </xsd:restriction>                                                       
                        </xsd:simpleType>                                                                
                </xsd:element>                                                                           
                <xsd:element name='AUDSID' type='xsd:double' minOccurs='0'/>                             
                <xsd:element name='RUN_DATE' minOccurs='0'>                                              
                        <xsd:simpleType>                                                                 
                                <xsd:restriction base='xsd:string'>                                      
                                        <xsd:maxLength value='25'/>                                      
                                </xsd:restriction>                                                       
                        </xsd:simpleType>                                                                
                </xsd:element>                                                                           
                <xsd:element name='MODULE' minOccurs='0'>                                                
                        <xsd:simpleType>                                                                 
                                <xsd:restriction base='xsd:string'>                                      
                                        <xsd:maxLength value='48'/>                                      
                                </xsd:restriction>                                                       
                        </xsd:simpleType>                                                                
                </xsd:element>                                                                           
                <xsd:element name='ACTION' minOccurs='0'>                                                
                        <xsd:simpleType>                                                                 
                                <xsd:restriction base='xsd:string'>                                      
                                        <xsd:maxLength value='32'/>                                      
                                </xsd:restriction>                                                       
                        </xsd:simpleType>                                                                
                </xsd:element>                                                                           
                <xsd:element name='CLIENT_INFO' minOccurs='0'>                                           
                        <xsd:simpleType>                                                                 
                                <xsd:restriction base='xsd:string'>                                      
                                        <xsd:maxLength value='64'/>                                      
                                </xsd:restriction>                                                       
                        </xsd:simpleType>                                                                
                </xsd:element>                                                                           
                <xsd:element name='SYSTEM_PHASE' minOccurs='0'>                                          
                        <xsd:simpleType>                                                                 
                                <xsd:restriction base='xsd:string'>                                      
                                        <xsd:maxLength value='3'/>                                       
                                </xsd:restriction>                                                       
                        </xsd:simpleType>                                                                
                </xsd:element>                                                                           
                <xsd:element name='DEBUG_INFO' type='xsd:string' minOccurs='0'/>                         
                <xsd:element name='CALL_STACK' minOccurs='0'>                                            
                        <xsd:simpleType>                                                                 
                                <xsd:restriction base='xsd:string'>                                      
                                        <xsd:maxLength value='4000'/>                                    
                                </xsd:restriction>                                                       
                        </xsd:simpleType>                                                                
                </xsd:element>                                                                           
                <xsd:element name='ERROR_STACK' minOccurs='0'>                                           
                        <xsd:simpleType>                                                                 
                                <xsd:restriction base='xsd:string'>                                      
                                        <xsd:maxLength value='4000'/>                                    
                                </xsd:restriction>                                                       
                        </xsd:simpleType>                                                                
                </xsd:element>                                                                           
        </xsd:sequence>                                                                                  
</xsd:complexType>                                                                                       
 <xsd:element name='SYM_STD_OUT' type='SYM_STD_OUTType'/>                                        
         <xsd:complexType name='SYM_STD_OUTType'>                                                
                 <xsd:sequence>                                                                  
                         <xsd:element name='HEADER_OUT' type='SA_HEADER_OUTType' minOccurs='0'/> 
                 </xsd:sequence>                                                                 
         </xsd:complexType>                                                                      
</xsd:schema>

